@charset "UTF-8";

.project-list-container {
  padding-block: 60px;
}

.map-area {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
  gap: 24px;
}

.list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.filter-group {
  display: flex;
  gap: 6px;
}
