<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.animalfarm.mlf.domain.carbon.CarbonRepository">
	
	<resultMap id="CarbonDetailMap" type="com.animalfarm.mlf.domain.carbon.dto.CarbonDetailDTO">
        <result property="addressSido" column="address_sido"/>
        <result property="addressSigungu" column="address_sigungu"/>
        <result property="addressStreet" column="address_street"/>
        <result property="addressDetails" column="address_details"/>
        <result property="farmName" column="farm_name"/>
        <result property="thumbnailUrl" column="thumbnailUrl"/>

        <association property="carbonInfo" javaType="com.animalfarm.mlf.domain.carbon.dto.CarbonDTO">
            <id property="cpId" column="cp_id"/>
            <result property="projectId" column="project_id"/>
            <result property="cpTitle" column="cp_title"/>
            <result property="cpType" column="cp_type"/>
            <result property="cpPrice" column="cp_price"/>
            <result property="initAmount" column="init_amount"/>
            <result property="cpAmount" column="cp_amount"/>
            <result property="vintageYear" column="vintage_year"/>
            <result property="cpDetail" column="cp_detail"/>
            <result property="productCertificate" column="product_certificate"/>
        </association>
    </resultMap>

    <select id="selectProductsByTokenIds" resultMap="CarbonDetailMap">
        SELECT 
            P.*, F.address_sido, F.address_sigungu, F.farm_name
        FROM carbon_products P
        JOIN projects PJ ON P.project_id = PJ.project_id
        JOIN farms F ON PJ.farm_id = F.farm_id
        WHERE P.project_id IN 
        <foreach item="id" collection="tokenIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY P.cp_id DESC
    </select>

    <select id="selectDetail" resultMap="CarbonDetailMap">
        SELECT 
            CP.*, 
            F.address_sido, 
            F.address_sigungu, 
            F.address_street, 
            F.address_details, 
            F.farm_name,
        	COALESCE(F.thumbnail_url, '/resources/img/carbon_sample.jpg') AS thumbnailUrl
        FROM carbon_products CP
        JOIN projects PJ ON CP.project_id = PJ.project_id
        LEFT JOIN farms F ON PJ.farm_id = F.farm_id
        WHERE CP.cp_id = #{cpId}
    </select>

    <select id="getWalletIdByUserId" resultType="long">
        SELECT ucl_id FROM user_certificate_links WHERE user_id = #{userId}
    </select>

    <select id="getDiscountRate" resultType="java.math.BigDecimal">
        SELECT discount_rate_pct 
        FROM reduction_sale_policy
        WHERE #{sharePercent} >= min_ratio_pct AND #{sharePercent} &lt; max_ratio_pct
    </select>
	
	<select id="getTokenIdByProjectId" resultType="long">
	    SELECT token_id 
	    FROM tokens
	    WHERE project_id = #{projectId}
	</select>
	
	<select id="getActualAmount" resultType="java.math.BigDecimal">
	    SELECT actual_amount 
	    FROM projects 
	    WHERE project_id = #{projectId}
	</select>
	
  	<!-- 전체 조회 -->
	<select id="selectAll" resultType="com.animalfarm.mlf.domain.carbon.dto.CarbonListDTO">
	    SELECT 
	        cp.cp_id,
	        cp.project_id,
	        cp.cp_title,
	        cp.cp_type,
	        cp.cp_price,
	        cp.cp_amount,
	        cp.product_certificate,
	        cp.vintage_year,
	        cp.cp_detail,
	        COALESCE(f.thumbnail_url, '/resources/img/carbon_sample.jpg') AS thumbnailUrl
	    FROM carbon_products cp
	    INNER JOIN Projects p ON cp.project_id = p.project_id
	    INNER JOIN Farms f ON p.farm_id = f.farm_id
	    WHERE cp.project_id IN (
            SELECT project_id 
            FROM tokens 
            WHERE token_id IN
		    <foreach item="id" collection="tokenIds" open="(" separator="," close=")">
		        #{id}
		    </foreach>
		)
	    ORDER BY cp.cp_id DESC
	</select>
	
	<!-- 조건 조회 -->
	<select id="selectByCondition" resultType="com.animalfarm.mlf.domain.carbon.dto.CarbonListDTO">
	    SELECT 
	        cp.cp_id,
	        cp.project_id,
	        cp.cp_title,
	        cp.cp_type,
	        cp.cp_price,
	        cp.cp_amount,
	        cp.product_certificate,
	        cp.vintage_year,
	        cp.cp_detail,
	        COALESCE(f.thumbnail_url, '/resources/img/carbon_sample.jpg') AS thumbnailUrl
	    FROM carbon_products cp
	    INNER JOIN projects p ON cp.project_id = p.project_id
	    INNER JOIN farms f ON p.farm_id = f.farm_id
	    <where>
	        <if test="category != null and category != ''">
	            AND cp.cp_type = #{category}
	        </if>
	        AND cp.project_id IN (
	            SELECT project_id 
	            FROM tokens 
	            WHERE token_id IN 
	            <foreach item="id" collection="tokenIds" open="(" separator="," close=")">
	                #{id}
	            </foreach>
	        )
	    </where>
	    ORDER BY cp.cp_id DESC
	</select>
	
	<!-- 상품명 조회 -->
	<select id="selectCpTitle" resultType="string">
	    SELECT cp_title
	    FROM carbon_products
	    WHERE cp_id = #{cpId}
	</select>
	
	<!-- 상품 잔여 수량 조회 -->
	<select id="selectCpAmount" resultType="java.math.BigDecimal">
	    SELECT cp_amount
	    FROM carbon_products
	    WHERE cp_id = #{cpId}
	</select>
	
	<!-- CarbonMapper.xml -->
	<insert id="insertCarbonHist">
	  INSERT INTO carbon_hists
	    (user_id, cp_id, amount, discounted_price, discount_rate, date)
	  VALUES
	    (#{userId}, #{cpId}, #{amount}, #{discountedPrice}, #{discountRate}, NOW())
	</insert>
	
	
</mapper>
