<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalfarm.mlf.domain.accounting.DividendRepository">

    <insert id="insertDividend" useGeneratedKeys="true" keyProperty="dividendId">
        INSERT INTO dividends (
            rs_id,
            user_id,
            dividend_type,
            amount_bf_tax,
            tax,
            amount_aft_tax,
            poll_end_date
        ) VALUES (
            #{rsId},
            #{userId},
            #{dividendType},
            #{amountBfTax},
            #{tax},
            #{amountAftTax},
            #{pollEndDate}
        )
    </insert>

	<select id="selectPollingList" resultType="dividendDTO">
	    SELECT d.*, u.user_name as userName, u.email as userEmail
	    FROM dividends d
	    JOIN users u ON d.user_id = u.user_id
	    WHERE d.status = 'PENDING' 
	      AND d.poll_end_date > NOW()
	</select>
	
	<update id="updateStatusToPolling">
		UPDATE dividends SET status = 'POLLING' WHERE dividend_id = #{dividendId}
	</update>
	
	<select id="selectById" resultType="dividendDTO">
		SELECT * FROM dividends
		where dividend_id = #{dividendId}
	</select>
	
	<update id="updateUserSelection">
	    UPDATE dividends
	    SET
	        status = 'DECIDED',
	        dividend_type = #{dividendType},
	        paid_amount = amount_aft_tax,
	        selection_at = CURRENT_TIMESTAMP
	    WHERE
	    	dividend_id = #{dividendId}
	      	AND status = 'POLLING'
    </update>
	
</mapper>