<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalfarm.mlf.domain.accounting.DividendRepository">

    <insert id="insertDividend" useGeneratedKeys="true" keyProperty="dividendId">
        INSERT INTO dividends (
            rs_id,
            user_id,
            dividend_type,
            amount_bf_tax,
            tax,
            amount_aft_tax,
            poll_end_date
        ) VALUES (
            #{rsId},
            #{userId},
            #{dividendType},
            #{amountBfTax},
            #{tax},
            #{amountAftTax},
            #{pollEndDate}
        )
    </insert>

</mapper>