<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.animalfarm.mlf.domain.mypage.MypageRepository">
	
	<select id="selectCarbonHistoryByUserId" resultType="com.animalfarm.mlf.domain.mypage.dto.CarbonHistoryDTO">
	    SELECT 
	        cp.cp_type,
	        p.project_name,
	        TO_CHAR(ch.date, 'YYYY. MM. DD') AS date_str,
        	TO_CHAR(ch.date + INTERVAL '1 year', 'YYYY. MM. DD') AS end_date_str,
	        ch.amount,
	        ch.discounted_price AS price
	    FROM carbon_hists ch
	    INNER JOIN carbon_products cp ON ch.cp_id = cp.cp_id
	    INNER JOIN projects p ON cp.project_id = p.project_id
	    WHERE ch.user_id = #{userId}
	    ORDER BY ch.date DESC
	</select>
	
	<select id="selectProfile" parameterType="long"
        resultType="com.animalfarm.mlf.domain.mypage.dto.ProfileDTO">
	  SELECT
	  user_name,
	  investor_type,
	  created_at,
	  email,
	  phone_number,
	  address,
	  push_yn,
	  receive_email_yn
	FROM users
	WHERE user_id = #{userId}
	  AND deleted_at IS NULL
	</select>
	
	<update id="updateProfile">
	  UPDATE users
	  <set>
	    <if test="req.address != null">address = #{req.address},</if>
	    <if test="req.pushYn != null">push_yn = #{req.pushYn},</if>
	    <if test="req.receiveEmailYn != null">receive_email_yn = #{req.receiveEmailYn},</if>
	    updated_at = NOW()
	  </set>
	  WHERE user_id = #{userId}
	    AND deleted_at IS NULL
	</update>
	
	<!-- 현재 비밀번호 조회 -->
    <select id="selectPasswordByUserId"
            parameterType="long"
            resultType="string">
        SELECT password
        FROM users
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
    </select>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePassword">
        UPDATE users
        SET password = #{password},
            updated_at = NOW()
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
    </update>
</mapper>