<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.animalfarm.mlf.domain.project.ProjectRepository">

	<!-- 1개의 농장에 여러개의 사진을 여러개 받기 위해 사용 -->
	<resultMap id="ProjectDetailMap"
		type="com.animalfarm.mlf.domain.project.dto.ProjectDetailDTO"
		autoMapping="true">
		<id column="project_id" property="projectId" />

		<collection property="images" ofType="string">
			<result column="image_url" />
		</collection>

		<collection property="temperatureInside"
			ofType="BigDecimal">
			<result column="temperature_inside" />
		</collection>
	</resultMap>

	<select id="selectAll" resultType="projectDTO">
		select * from projects
	</select>

	<select id="selectDetail" parameterType="long"
		resultType="ProjectDetailDTO" resultMap="ProjectDetailMap">
		SELECT
		p.*,
		f.farm_id AS f_farm_id,
		f.farm_name,
		f.address_sido,
		f.address_sigungu,
		f.address_street,
		f.address_details,
		f.latitude,
		f.longtitude,
		f.altitude,
		f.farm_type,
		f.area,
		f.description AS
		f_description,
		f.open_at,
		f.thumbnail_url,
		i.image_url,
		c.crop,
		c.method,
		fed.temperature_inside,
		t.ticker_symbol
		FROM projects p
		left join farms f
		ON p.farm_id = f.farm_id
		left join project_images i on p.project_id =
		i.project_id
		left join cultivations c on p.project_id = c.project_id
		left join farm_env_data fed on f.farm_id = fed.farm_id
		left join tokens
		t on p.project_id = t.project_id
		WHERE p.project_id = #{projectId};
	</select>

	<select id="selectByCondition"
		parameterType="projectSearchReqDTO" resultType="projectListDTO">
		SELECT
		p.*,
		f.thumbnail_url,
		EXISTS (
		SELECT 1
		FROM starred_projects s
		WHERE s.project_id = p.project_id
		AND s.user_id = #{userId}
		AND s.is_starred = true
		) AS is_starred
		FROM projects p
		JOIN farms f on p.farm_id = f.farm_id
		<where>
			AND p.project_status NOT IN ('PREPARING', 'CANCELED', 'COMPLETED')
			<if test="keyword != null and keyword != ''">
				AND p.project_name LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="projectStatus != null and projectStatus != ''">
				AND p.project_status = #{projectStatus}
			</if>
		</where>
	</select>

	<select id="selectAllFarm" resultType="farmDTO">
		select * from farms
	</select>

	<insert id="insertProject" parameterType="projectInsertDTO"
		useGeneratedKeys="true" keyProperty="projectId" keyColumn="project_id">
		INSERT INTO
		projects (
		farm_id,
		project_name,
		project_description,
		project_round,
		target_amount,
		min_amount_per_investor,
		actual_amount,
		subscription_rate,
		project_status,
		announcement_start_date,
		announcement_end_date,
		subscription_start_date,
		subscription_end_date,
		result_announcement_date,
		project_start_date,
		project_end_date,
		expected_return,
		manager_count)
		VALUES (
		#{farmId},
		#{projectName},
		#{projectDescription},
		#{projectRound},
		#{targetAmount},
		#{minAmountPerInvestor},
		#{actualAmount},
		#{subscriptionRate},
		'PREPARING', -- 초기 상태값 고정 시
		#{announcementStartDate},
		#{announcementEndDate},
		#{subscriptionStartDate},
		#{subscriptionEndDate},
		#{resultAnnouncementDate},
		#{projectStartDate},
		#{projectEndDate},
		#{expectedReturn},
		#{managerCount})
	</insert>

	<insert id="insertToken" parameterType="projectInsertDTO">
		INSERT INTO tokens (project_id, token_name, ticker_symbol, total_supply)
		Values (
		#{projectId},
		#{tokenName},
		#{tickerSymbol},
		#{totalSupply}
		)
	</insert>

	
	<update id="updateProject" parameterType="com.animalfarm.mlf.domain.project.dto.ProjectDTO">
        UPDATE projects
        <set>
            <if test="farmId != null">farm_id = #{farmId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectDescription != null">project_description = #{projectDescription},</if>
            <if test="projectRound != null">project_round = #{projectRound},</if>
            <if test="targetAmount != null">target_amount = #{targetAmount},</if>
            <if test="minAmountPerInvestor != null">min_amount_per_investor = #{minAmountPerInvestor},</if>
            
            <if test="actualAmount != null">actual_amount = #{actualAmount},</if>
            <if test="subscriptionRate != null">subscription_rate = #{subscriptionRate},</if>
            
            <if test="projectStatus != null">project_status = #{projectStatus},</if>
            
            <if test="announcementStartDate != null">announcement_start_date = #{announcementStartDate},</if>
            <if test="announcementEndDate != null">announcement_end_date = #{announcementEndDate},</if>
            <if test="subscriptionStartDate != null">subscription_start_date = #{subscriptionStartDate},</if>
            <if test="subscriptionEndDate != null">subscription_end_date = #{subscriptionEndDate},</if>
            <if test="resultAnnouncementDate != null">result_announcement_date = #{resultAnnouncementDate},</if>
            <if test="projectStartDate != null">project_start_date = #{projectStartDate},</if>
            <if test="projectEndDate != null">project_end_date = #{projectEndDate},</if>
            
            <if test="expectedReturn != null">expected_return = #{expectedReturn},</if>
            <if test="managerCount != null">manager_count = #{managerCount},</if>
            
            updated_at = NOW()
        </set>
        WHERE project_id = #{projectId}
    </update>
	
</mapper>