<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animalfarm.mlf.domain.project.ProjectRepository">

	<!-- 1개의 농장에 여러개의 사진을 여러개 받기 위해 사용 -->
	<resultMap id="ProjectDetailMap"
		type="com.animalfarm.mlf.domain.project.dto.ProjectDetailDTO"
		autoMapping="true">
		<id column="project_id" property="projectId" />

		<collection property="images" ofType="string">
			<result column="image_url" />
		</collection>

		<collection property="temperatureInside"
			ofType="BigDecimal">
			<result column="temperature_inside" />
		</collection>
	</resultMap>

	<select id="selectAll" resultType="projectDTO">
		select * from projects
	</select>

	<select id="selectDetail" parameterType="long"
		resultMap="ProjectDetailMap">
		SELECT
		p.*,
		f.*,
		c.crop,
		c.method,
		t.ticker_symbol,
		UNNEST(img.image_list) AS image_url, 
		UNNEST(fed.temp_list) AS temperature_inside 
		FROM projects p
		LEFT JOIN farms f ON p.farm_id = f.farm_id
		LEFT JOIN
		cultivations c ON p.project_id = c.project_id
		LEFT JOIN tokens t ON
		p.project_id = t.project_id
		-- 이미지 서브쿼리: 조인 전 미리 그룹화하여 데이터 중복 생성 방지
		LEFT JOIN (
		SELECT project_id, ARRAY_AGG(image_url) AS image_list
		FROM
		project_images
		GROUP BY project_id
		) img ON p.project_id =
		img.project_id
		-- 환경 데이터 서브쿼리: 조인 전 미리 그룹화
		LEFT JOIN (
		SELECT farm_id,
		ARRAY_AGG(temperature_inside) AS temp_list
		FROM farm_env_data
		GROUP BY
		farm_id
		) fed ON f.farm_id = fed.farm_id
		WHERE p.project_id =
		#{projectId};
	</select>

	<select id="selectByCondition" parameterType="projectSearchReqDTO" resultType="projectListDTO">
		SELECT
		p.*,
		f.thumbnail_url,
		EXISTS (
		SELECT 1
		FROM starred_projects s
		WHERE s.project_id = p.project_id
		AND s.user_id = #{userId}
		AND s.is_starred = true
		) AS is_starred
		FROM projects p
		JOIN farms f on p.farm_id = f.farm_id
		<where>
			AND p.project_status NOT IN ('PREPARING', 'CANCELED', 'COMPLETED')
			<if test="keyword != null and keyword != ''">
				AND p.project_name LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="projectStatus != null and projectStatus != ''">
				AND p.project_status = #{projectStatus}
			</if>
		</where>
	</select>

	<insert id="insertStrarredProject" parameterType="ProjectStarredDTO">
		insert into starred_projects (
		user_id, 
		project_id)
		values (
		#{userId}, 
		#{projectId})
	</insert>
	
	<update id="updateStarredInterest" parameterType="ProjectStarredDTO">
		update starred_projects 
		set is_starred  = false 
		where 
		user_id = #{userId}
		and project_id = #{projectId};
	</update>

</mapper>