<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.animalfarm.mlf.domain.subscription.SubscriptionRepository">
	
	<select id="select" parameterType="subscriptionSelectDTO" resultType="subscriptionHistDTO">
		select * from subscription_hists
		where project_id=#{projectId} and user_id=#{userId}
	</select>
	
	<insert id="subscriptionApplication" parameterType="subscriptionApplication">
		insert into subscription_hists (
		project_id, 
		user_id, 
		subscription_amount, 
		subscription_status, 
		payment_status)
		values(
		#{projectId}, 
		2, 
		#{amount}, 
		'PENDING', 
		'RESERVED')
	</insert>
</mapper>