<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.animalfarm.mlf.domain.token.TokenRepository">
	<select id="selectByProjectId" parameterType="long"
		resultType="tokenDTO">
		select * from tokens
		where project_id = #{projectId}
	</select>

	<select id="selectWalletId" resultType="Long">
		SELECT ucl_id
		FROM user_certificate_links
		WHERE user_id = #{userId}
		ORDER BY ucl_id DESC
		LIMIT 1
	</select>

	<insert id="insertTokenLedger" parameterType="tokenLedgerDTO">
		INSERT INTO token_ledger (
		token_id,
		from_user_id,
		to_user_id,
		transaction_id,
		external_ref_id,
		order_amount,
		contract_amount,
		status,
		fee,
		transaction_type,
		from_balance_after,
		to_balance_after,
		hash_value,
		prev_hash_value
		)
		VALUES (
		#{tokenId},
		#{fromUserId}, 
		#{toUserId}, 
		#{transactionId},
		#{externalRefId},
		#{orderAmount},
		#{contractAmount},
		#{status},
		#{fee},
		#{transactionType},
		#{from_balanceAfter},
		#{to_balanceAfter},
		#{hashValue},
		#{prevHashValue} )
	</insert>
	
	<insert id="insertTokenLedgerBatch" parameterType="java.util.List">
	    INSERT INTO token_ledger (
	        token_id, from_user_id, to_user_id, transaction_id, order_amount, contract_amount,
	        status, fee, transaction_type, from_balance_after, to_balance_after, hash_value, prev_hash_value
	    ) VALUES
	    <foreach collection="list" item="item" separator=",">
	    (
	        #{item.tokenId}, #{item.fromUserId}, #{item.toUserId}, #{item.transactionId}, #{item.orderAmount}, #{item.contractAmount},
	        #{item.status}, #{item.fee}, #{item.transactionType}, #{item.from_balanceAfter}, ${item. to_balanceAfter}, 
	        #{item.hashValue}, #{item.prevHashValue} 
	    )
	    </foreach>
	</insert>
	
	<select id="selectLastHash" resultType="string">
	    SELECT hash_value 
	    FROM token_ledger 
	    ORDER BY created_at DESC, ledger_id DESC
	    LIMIT 1
	</select>
	
	<update id="updateDeletedAt">
		update tokens
		SET deleted_at=now()
		where token_id=#{tokenId};
	</update>
	
	<update id="updateTokenBalance">
		UPDATE token_balances
		SET balance = #{balanceAfter},
			updated_at = NOW()
		WHERE token_id = #{tokenId}
		AND user_id = #{userId}
	</update>
</mapper>