<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.animalfarm.mlf.domain.user.repository.UserRepository">

	<select id="findByEmail"
		resultType="userDTO">
		SELECT
		user_id,
		email,
		password,
		user_name,
		role
		FROM users
		WHERE email = #{email}
	</select>
	
	<insert id="insertUser">
		INSERT INTO users (user_name, email, password, phone_number, role, brn)
		VALUES (#{userName}, #{email}, #{password}, #{phoneNumber}, #{role},
		#{brn})
	</insert>
	
	<select id="existsByEmail" resultType="boolean">
    	SELECT EXISTS (
    	    SELECT 1
    	    FROM users
    	    WHERE email = #{email}
  	  	)
	</select>
	
	<select id="selectAddress" resultType="string">
        SELECT address 
        FROM users 
        WHERE user_id = #{userId}
    </select>

    <update id="updateAddress">
        UPDATE users 
        SET address = #{address}
        WHERE user_id = #{userId}
    </update>
    
    <select id="getUserById" resultType="userDTO">
    	SELECT * from users
    	WHERE user_id = #{userId}
    </select>

</mapper>